.popup__close-btn {
  background-color: transparent;
  background-image: url(../../../image/Close_Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 665px) {
  .popup__close-btn {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}
