.sign__input {
  margin-top: 57px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  vertical-align: top;
  text-overflow: ellipsis;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.sign__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px black;
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 665px) {
  .sign__input {
    margin-top: 57px;
  }
}