.profile__name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 925px) {
  .profile__name {
    max-width: calc(100vw - 320px);
  }
}

@media screen and (max-width: 665px) {
  .profile__name {
    font-size: 27px;
    max-width: calc(100vw - 65px);
    text-align: center;
  }
}
